
@{
    ViewBag.Title = "OurStory";
}
<!-- ::::navigation end:::::: -->
<!-- ::::about-hero-area start:::::: -->
<section class="about-hero-area">
    <div class="container-fluid custum-pd">
        <div class="about-hero-banner" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
            <h2>Best Hawain Shops for eyeglass affordable for all </h2>
            <a class="btn about-button" href="Index/#glasses">Buy now</a>
        </div>
    </div>
</section>
<!-- ::::about-hero-area end:::::: -->
<!-- ::::about-we-are start:::::: -->


<section class="about-we-are">
    <!--  -->
    <div class="has-bg">
        <div class="has-bg-3">
            <img src="~/assets/img/bg-3.png" alt="img">
        </div>
        <div class="has-bg-4">
            <img src="~/assets/img/bg-4.png" alt="img">
        </div>
    </div>
    <!--  -->
    <div class="col-lg-6 mx-auto text-center">
        <div class="title">
            <h2>Who we are</h2>
            <p>
                Shopping online for glasses can be scary. We get it! So here are a few tools to help you find a comfy, stylish pair that fits you juuuuuust right.
            </p>
        </div>
    </div>
    <div class="container-fluid custum-pd">
        <div class="row mt-lg-5 mt-md-4 mt-3">
            <div class="col-md-8" data-aos="fade-up" data-aos-duration="3000">
                <div class="about-we-are-left">
                    <img class="img-fluid" src="~/assets/img/weare-img.png" alt="img">
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                <div class="about-we-right">
                    <div class="about-we-right-slider">
                        <div class="about-we-right-item">
                            <h3>The beginning Journey</h3>
                            <p>
                                While traveling abroad, our founder, Roy Hessel, was entranced with the different
                                cultures but noticed that not everyone had access to something that is vital to
                                living, perfect vision.
                            </p>
                            <a class="about-button shop-btn" href="Index/#glasses">Visit our shop</a>
                        </div>
                        <div class="about-we-right-item">
                            <h3>The beginning Journey</h3>
                            <p>
                                While traveling abroad, our founder, Roy Hessel, was entranced with the different
                                cultures but noticed that not everyone had access to something that is vital to
                                living, perfect vision.
                            </p>
                            <a class="about-button shop-btn" href="Index/#glasses">Visit our shop</a>
                        </div>
                        <div class="about-we-right-item">
                            <h3>The beginning Journey</h3>
                            <p>
                                While traveling abroad, our founder, Roy Hessel, was entranced with the different
                                cultures but noticed that not everyone had access to something that is vital to
                                living, perfect vision.
                            </p>
                            <a class="about-button shop-btn" href="Index/#glasses">Visit our shop</a>
                        </div>
                        <div class="about-we-right-item">
                            <h3>The beginning Journey</h3>
                            <p>
                                While traveling abroad, our founder, Roy Hessel, was entranced with the different
                                cultures but noticed that not everyone had access to something that is vital to
                                living, perfect vision.
                            </p>
                            <a class="about-button shop-btn" href="Index/#glasses">Visit our shop</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ::::about-we-are end:::::: -->
<!-- ::::about-we-make start:::::: -->
<section class="about-we-make">
    <div class="has-bg">
        <div class="has-bg-five">
            <img src="~/assets/img/Bg-5.png" alt="img">
        </div>
        <div class="has-bg-six">
            <img src="~/assets/img/Bg-6.png" alt="img">
        </div>
    </div>
    <div class="container-fluid custum-pd">
        <div class="about-we-make-banner" data-aos="fade-up" data-aos-duration="3000">
            <h2>
                We make Afrodable <br>
                Eyeglass for all
            </h2>
            <a href="#"></a>
            <a class="venobox" data-autoplay="true" data-vbtype="video"
               href="https://www.youtube.com/watch?v=KUs7ZH5uWl4">
                <i class="fas fa-play"></i>
            </a>
        </div>
    </div>
</section>
<!-- ::::about-we-make end:::::: -->
<!-- ::::about-we-make end:::::: -->
<section class="about-vision">
    <!--  -->
    <div class="has-bg">
        <div class="has-bg-3">
            <img src="~/assets/img/index-bg/left-6.png" alt="img">
        </div>
        <div class="has-bg-4">
            <img src="~/assets/img/index-bg/right-6.png" alt="img">
        </div>
    </div>
    <!--  -->
    <div class="container-fluid custum-pd">
        <div class="mx-auto text-center">
            <div class="title">
                <h2>Vision for everyone</h2>
                <p>
                    Shopping online for glasses can be scary. We get it! So here are a few tools to help you find a
                    comfy, stylish pair that fits you just right.
                </p>
            </div>
        </div>
        <div class="flex-about row mt-lg-5 mt-md-4 mt-3">
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                <div class="about-vision-left-bg">
                    <h3>2.5 billion initiative</h3>
                    <p>
                        While traveling abroad, our founder, Roy Hessel, was entranced with the different cultures
                        but noticed that not everyone had access to something that is vital to living, perfect
                        vision.
                    </p>
                    <a class="about-button shop-btn" href="Index/#glasses">Visit our shop</a>
                    <div class="worldwide-bg">
                        <h4>Worldwide</h4>
                        <h5>
                            2.5
                            <span>
                                Billion
                            </span>
                        </h5>
                        <p>people require vision correction</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="about-vision-right">
                    <img class="img-fluid" src="~/assets/img/vesion-img.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ::::servie start:::::: -->
<section class="service">
    <!-- ::::servie has-bg start:::::: -->
    <div class="has-bg">
        <div class="has-bg-19">
            <img src="~/assets/img/product-bg/right-4.png" alt="img">
        </div>
        <div class="has-bg-20">
            <img src="~/assets/img/product-bg/left-4.png" alt="img">
        </div>
    </div>
    <!-- ::::servie has-bg end:::::: -->
    <div class="container custum-pd2">
        <div class="row">
            <!-- ::::servie single item:::::: -->
            <div class="col-lg-4">
                <div class="service-item" data-aos="fade-up" data-aos-duration="3000">
                    <div class="icon">
                        <img src="~/assets/img/service-icon.png" alt="icon">
                    </div>
                    <h4>30 – DAY MONEY BACK </h4>
                    <p> We have a 30-day, no hassle return or exchange policy for our eyewear and accessories.</p>
                </div>
            </div>

            <!-- ::::servie single item:::::: -->
            <div class="col-lg-4">
                <div class="service-item" data-aos="fade-up" data-aos-duration="3000">
                    <div class="icon">
                        <img src="~/assets/img/box.png" alt="icon">
                    </div>
                    <h4>FREE SHIPPING </h4>
                    <p>
                        All orders over $99.00 qualify for free shipping, which is one less thing for you to worry
                        about.
                    </p>
                </div>
            </div>
            <!-- ::::servie single item:::::: -->
            <div class="col-lg-4">
                <div class="service-item" data-aos="fade-up" data-aos-duration="3000">
                    <div class="icon">

                        <img src="~/assets/img/eye-glasses1.png" alt="icon">

                    </div>
                    <h4>SUPERIOR LENSES</h4>
                    <p>
                        We know that as an eyeglass wearer you expect nothing but the best in terms of lens quality.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ::::  has-radious end:::::: -->
<script src="~/assets/js/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("ul li a").removeClass("active");
        $('#OurStory').addClass('active');
    });
</script>

