
@{
    ViewBag.Title = "Changewebpassword";
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ola Optical</title>
    <link rel="shortcut icon" href="~/assets/img/fav-ivon.jpg" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/aos.css">
    <link rel="stylesheet" href="~/assets/css/venobox.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- css -->
</head>





<section class="sign-in-area">
        <div class="has-bg">
            <div class="has-bg-3">
                <img src="/assets/img/bg-3.png" alt="img">
            </div>
            <div class="has-bg-4">
                <img src="/assets/img/bg-4.png" alt="img">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <div class="sign-in-area-bg">

                        <h4>Change Password </h4>

                        @using (Html.BeginForm("Changewebpassword", "Account", FormMethod.Post))
                        {
                            <input name="Email" class="form-control input" type="text" value="@ViewBag.Email" hidden>
                            <small style="color:@ViewBag.Color !important;font-weight:bold;font-size:14px !important "> @ViewBag.Error</small>
                            <input name="password" required class="form-control input" type="password" placeholder="Enter Password"> <br>

                            <button type="submit" class="btn btn-primary">
                                Update Password
                            </button>



                        }
                    </div>
                </div>

            </div>
        </div>
    </section>

